# === SERVICE PORTS ===
API_PORT=8080
TCP_PORT=9000
UDP_PORT=9001
GRPC_PORT=50051
# === DATABASE ===
DB_PATH=/data/mangahub.db
SQL_FILE=/data/init.sql
# === AUTHENTICATION ===
JWT_SECRET=secret
JWT_ACCESS_TOKEN_LIFETIME=1m
# === LOGGING ===
LOG_LEVEL=debug
# === CHAT ===
CHAT_ROOMS=general,manga,offtopic
